
@{
    Layout = null;
}

<div id="mySidenav" class="sidenav">
    <label for="sel1">City:</label>
    <select class="form-control" id="sel1">
        <option>Belo Horizonte</option>
        <option>Chicago</option>
        <option>São Paulo</option>
        <option>Rio de Janeiro</option>
    </select>
    <a href="#">Select All</a>

    <div class="checkbox">
        <label><input type="checkbox" value="">101</label>
    </div>

    <div class="checkbox">
        <label><input type="checkbox" value="">102</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">102</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">103</label>
    </div>
</div>
