
@{
    Layout = null;
}

    <!-- TOP MENU-->
<div class="navbar navbar-inverse navbar-fixed-top">     
    <div class="container">             
        <div class="navbar-header">
            <span style="font-size:30px;cursor:pointer; position: absolute; left: 5px; color: #ffffff" onclick="openNav()">&#9776;</span>  
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Public Transport Tracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Upload", "Upload", "Home")</li>
                <li>@Html.ActionLink("Map", "Map", "Home")</li>
            </ul>
        </div>
    </div>
</div>